body {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  background: url("esta2.avif") no-repeat center center/cover;
  text-align: center;
  margin: 8px;
  padding: 0;
  color: white;
  min-height: 100vh;
  margin-top: 10px;

  background-position: center;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

h1,
h2 {
  color: rgba(0, 102, 26, 1);
}

.tabela {
  color: green;
  text-align: center;
  font-size: 1.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  border: 1px;
}

th,
td {
  text-align: center;
  padding: 6px;
  border: 2px solid #ccc;

  color: white;
}

/* Reponsividade para celulares */
@media (max-width: 600px) {
  .campo-busca {
    flex-direction: row;
    padding: 6px 10px;
    max-width: 100%;
  }
  th {
    font-size: 0.75rem;
  }
  img {
    width: 60%;
  }
  .campo-busca input {
    font-size: 1.1rem;
     height: 40px;
  }
  .content-box {
    margin-right: 5px;
  }
}
th {
  background-color: green;
  color: white;
}
